.nav-link {
   font-style: italic;
   color: #857f80;
   /* font-weight: 100;color: white; */
}

 .nav-link:hover{
    background-color: rgb(206, 32, 104);
    color: white;
    /* font-style: italic;  */
    border-radius: 0.5rem;
 }
 .bg-body-tertiary{
    background-color: white !important;
 } 
 .dopetrope-image {
   background-color: #cce8f4;
   background-image: url(./images/pic01.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   max-height:40rem;
   padding: 12% 0; 
   display: flex;
   justify-content: center;
}
.dopetrope-image div{
   background-color: black;
}
#buttn1 {
   background-color:#D52349;
}
.tarjetas {
   padding: 4rem 0rem 4rem 12rem;
}